#JTR{
    background-color: cornsilk;
    
  }
  
  
  #cuerpo{
    background-color: rgb(0, 87, 87);
    padding: 30px;
    text-align: center;
  }
  
  
  
  
  #txtname{
    color: rgb(0, 87, 87);
  }
  
  p{
    text-align: center;
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  #divParrafos{
    max-height: 280px;
  }
  
  marquee{
      color: cornsilk;
      font-family:   Verdana, Geneva, Tahoma, sans-serif;
      font-size:  xx-large;
  }
  
  b{
    color: rgb(0, 87, 87);
  }
  